<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-button>
        <a routerLink="/dashboard">Dashboard</a>
      </button>
      <button mat-button>
        <a routerLink="/users">Users</a>
      </button>
      <button mat-button>
        <a routerLink="/profile">Profile</a>
      </button>
      <button mat-button>
        <a routerLink="/settings">Settings</a>
      </button>
      <div style="margin-left: auto; margin-right: 0">
        <img alt="Angular Logo" width="80" height="40" src="../assets/nextonlabs-logo.png">
        <span>{{ title }}!</span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
